*{
  --mainColor: #2b2d42;
  --secColor: #d90429; 
}

body{
  padding: 0;
  margin: 0;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: var(--mainColor);
  padding: 0 4em;
  height: 100px;
  max-height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.title{
  color: white;
  font-size: 3em;
  cursor: pointer;
}

.addMovie img{
 height: 50px;
 width: 50px;
}

.addMovie img:hover{
  cursor: pointer;
  transform: scale(1.1);

  transition: transform 0.3s;
}

.main{
  padding: 1em 4em;
}

.movie{
  background-color: white;
  display: flex;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-right: 6px solid var(--mainColor);
}

.movie:hover{
  cursor: pointer;
  transform: scale(1.01);
}

.movieTitle{
  font-size: 20px;
  margin-bottom: 1em;
  color: var(--mainColor)
}

.movieData{
  color: grey;
  font-size: 12px;
}


.watched{
  align-self: flex-end;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .checkbox-wrapper-13 input[type=checkbox] {
    --active: #275EFE;
    --active-inner: #fff;
    --focus: 2px rgba(39, 94, 254, .3);
    --border: #BBC1E1;
    --border-hover: #275EFE;
    --background: #fff;
    --disabled: #F6F8FF;
    --disabled-inner: #E1E6F9;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 21px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    margin-left: 0.5em;
    cursor: pointer;
    border: 1px solid var(--bc, var(--border));
    background: var(--b, var(--background));
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
  }
  .checkbox-wrapper-13 input[type=checkbox]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
  }
  .checkbox-wrapper-13 input[type=checkbox]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: .3s;
    --d-t: .6s;
    --d-t-e: cubic-bezier(.2, .85, .32, 1.2);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .checkbox-wrapper-13 input[type=checkbox]:disabled + label {
    cursor: not-allowed;
  }
  .checkbox-wrapper-13 input[type=checkbox]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .checkbox-wrapper-13 input[type=checkbox]:focus {
    box-shadow: 0 0 0 var(--focus);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    width: 21px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --o: 1;
  }
  .checkbox-wrapper-13 input[type=checkbox] + label {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    margin-left: 4px;
  }

  .checkbox-wrapper-13 input[type=checkbox]:not(.switch) {
    border-radius: 7px;
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    transform: rotate(var(--r, 20deg));
  }
  .checkbox-wrapper-13 input[type=checkbox]:not(.switch):checked {
    --r: 43deg;
  }
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1em;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

label {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 4px;
}

.input-pair {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-right: 2%;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}


input[type="checkbox"] {
  margin-left: 8px;
}

input[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

.hidden{
  display: none;
}

.delIcon{
  width: 20px;
  height: 20px;
  align-self: flex-end;
}

.controls{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
}

.movImg{
  height: 200px;
  width: 150px;
  object-fit: cover;
}


@media only screen and (max-width: 600px) {
  header{
    padding: 0 1em;
  }

  .main{
    padding: 1em 1em;
  }

  .movie{
    flex-wrap: wrap;
  }
  
  .controls{
    width: 100%;
    gap: 1em;
  }
}